In [1]:
animal = 'goat'
letter = animal[1]
letter

'o'

In [2]:
animal[0]

'g'

In [3]:
animal[1]

'o'

In [4]:
animal[2]

'a'

In [5]:
animal[3]

't'

In [6]:
len(animal)

4

In [7]:
animal[4]

IndexError: string index out of range

In [8]:
animal[-1]

't'

In [9]:
i=0
while i<len(animal):
    print animal[i]
    i=i+1

g
o
a
t

In [10]:
for c in animal:
    print(c)

g
o
a
t

In [21]:
s = "And now for something completely different"
s[0:7]

'And now'

In [22]:
s[12:21]

'something'

In [23]:
s = "And now for something completely different"
s[:7]

'And now'

In [18]:
s[22:]

'completely different'

In [19]:
s[-20:-10]

'completely'

In [20]:
s[-20:]

'completely different'

In [24]:
s = "And now for something completely different"
s[:]

'And now for something completely different'

In [26]:
s[2:2]

''

In [27]:
mystr = 'goat'
mystr[0] = 'b'

TypeError: 'str' object does not support item assignment

In [29]:
mystr = 'goat'
mystr = 'b'+mystr[1:]
mystr

'boat'

In [30]:
def count(word, letter):
    cnt = 0
    for c in word:
        if c==letter:
            cnt = cnt+1
    return cnt

In [32]:
count('banana', 'a')

3

In [33]:
count('banana', 'z')

0

In [35]:
mystr = 'goat'
mystr.upper()

'GOAT'

In [36]:
'aBcDeFg'.lower()

'abcdefg'

In [37]:
'banana'.find('na')

2

In [39]:
'goat'.startswith('go')

True

In [40]:
'banana'.find('na')

2

In [41]:
'banana'.find('na', 3)

4

In [43]:
'banana'.find('na', 3, 4)

-1

In [45]:
'banana'.find('na', 3, 6)

4

In [46]:
'a' in 'banana'

True

In [47]:
'z' in 'banana'

False

In [48]:
'ban' in 'banana'

True

In [49]:
'anan' in 'banana'

True

In [50]:
'zoo' in 'banana'

False

In [51]:
'cat' == 'cat'

True

In [52]:
'cat' == 'dog'

False

In [53]:
'dog' == 'doge'

False

In [54]:
'cat' < 'dog'

True

In [55]:
'cat' >= 'dog'

False

In [56]:
'cat' > 'cat'

False

In [57]:
'dog' < 'doge'

True

In [58]:
'' < 'goat'

True

In [59]:
'1' < 'a'

True

In [60]:
'Cat' == 'cat'

False

In [62]:
'cat' > 'Cat'

True

In [76]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21]
mixed = ['one', 2, 3.0]
pythagoras = [[3, 4, 5], [5, 12, 13], [8, 15, 17]]

In [67]:
x = []
x

[]

In [68]:
x = list()
x

[]

In [69]:
list()

TypeError: list() takes at most 1 argument (3 given)

In [77]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
fruits[0]

'apple'

In [78]:
fruits[1]

'orange'

In [79]:
fruits[2]

'banana'

In [80]:
fruits[-1]

'kiwi'

In [84]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
fruits

['apple', 'orange', 'banana', 'kiwi']

In [85]:
fruits[-1] = 'mango'
fruits

['apple', 'orange', 'banana', 'mango']

In [86]:
mystring = 'goat'
mystring[0]='b'

TypeError: 'str' object does not support item assignment

In [87]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
len(fruits)

4

In [88]:
len([])

0

In [89]:
pythagoras = [[3, 4, 5], [5, 12, 13], [8, 15, 17]]
len(pythagoras)

3

In [90]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
'apple' in fruits

True

In [91]:
'grape' in fruits

False

In [92]:
['apple', 'orange'] in fruits

False

In [95]:
['cat','dog'] in [['cat','dog'], ['bird','goat']]

True

In [96]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
for f in fruits:
    print(f)

apple
orange
banana
kiwi

In [99]:
numbers = range(5)
for n in numbers:
    print(2**n)

1
2
4
8
16

In [100]:
type(numbers)

list

In [101]:
type(range(10))

list

In [105]:
fruits = ['apple', 'orange', 'banana', 'kiwi']
for i in range(len(fruits)):
    fruits[i] = fruits[i].upper()

for f in fruits:
    print(f)

APPLE
ORANGE
BANANA
KIWI

In [108]:
fibonacci = [0,1,1,2,3,5,8]
primes = [2,3,5,7,11,13]
fibonacci + primes

[0, 1, 1, 2, 3, 5, 8, 2, 3, 5, 7, 11, 13]

In [109]:
3*['cat','dog']

['cat', 'dog', 'cat', 'dog', 'cat', 'dog']

In [111]:
animals = ['cat', 'dog', 'goat', 'bird', 'llama']
animals[1:3]

['dog', 'goat']

In [113]:
animals[3:]

['bird', 'llama']

In [115]:
animals[:2]

['cat', 'dog']

In [116]:
animals[:]

['cat', 'dog', 'goat', 'bird', 'llama']

In [119]:
animals = ['cat', 'dog', 'goat', 'bird', 'llama']
animals[-2:] = ['parrot', 'alpaca']
animals

['cat', 'dog', 'goat', 'parrot', 'alpaca']

In [120]:
animals.pop()

'alpaca'

In [121]:
animals

['cat', 'dog', 'goat', 'parrot']

In [130]:
animals = ['cat', 'dog', 'goat', 'bird']
animals.append('unicorn')
animals

['cat', 'dog', 'goat', 'bird', 'unicorn']

In [131]:
fibonacci = [0,1,1,2,3,5,8]
fibonacci.append([13,21])
fibonacci

[0, 1, 1, 2, 3, 5, 8, [13, 21]]

In [132]:
fibonacci = [0,1,1,2,3,5,8]
fibonacci.extend([13, 21])
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [2]:
animals = ['cat', 'dog', 'goat', 'bird']
animals.sort()
animals

['bird', 'cat', 'dog', 'goat']

In [3]:
mixed = [1, 'two', 3.0, [4,5]]
mixed.sort()
mixed

[1, 3.0, [4, 5], 'two']

In [142]:
animals = ['cat', 'dog', 'goat', 'bird']
sorted_animals = sorted(animals)
sorted_animals

['bird', 'cat', 'dog', 'goat']

In [143]:
animals

['cat', 'dog', 'goat', 'bird']

In [149]:
animals = ['cat', 'dog', 'goat', 'bird']
animals.pop()

'bird'

In [150]:
animals

['cat', 'dog', 'goat']

In [155]:
fibonacci = [0,1,1,2,3,5,8]
fibonacci.pop(3)

2

In [156]:
fibonacci

[0, 1, 1, 3, 5, 8]

In [157]:
animals = ['cat', 'dog', 'goat', 'bird']
animals.remove('cat')
animals

['dog', 'goat', 'bird']

In [158]:
numbers = [0,1,2,3,1,2,3,2,3]
numbers.remove(2)
numbers

[0, 1, 3, 1, 2, 3, 2, 3]

In [160]:
numbers.remove(4)

ValueError: list.remove(x): x not in list

In [161]:
def square_all(t):
    res = []
    for elmt in t:
        res.append(elmt**2)
    return res

square_all(range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [162]:
fibonacci = [0,1,1,2,3,5,8,13,21]
square_all(fibonacci)

[0, 1, 1, 4, 9, 25, 64, 169, 441]

In [163]:
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [165]:
def remove_even(t):
    res = []
    for elmt in t:
        if elmt % 2 == 0:
            continue
        else: # elmt is odd.
            res.append(elmt)
    return res

remove_even(range(10))

[1, 3, 5, 7, 9]

In [167]:
fibonacci = [0,1,1,2,3,5,8,13,21]
remove_even(fibonacci)

[1, 1, 3, 5, 13, 21]

In [168]:
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [170]:
def my_sum(t):
    res = 0
    for elmt in t:
        res += elmt
    return res

my_sum(range(10))

45

In [171]:
fibonacci = [0,1,1,2,3,5,8,13,21]
my_sum(fibonacci)

54

In [172]:
my_sum([])

0

In [173]:
zero2nine = range(10)
[x**2 for x in zero2nine]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [175]:
animals = ['cat', 'dog', 'goat', 'bird']
[s.upper() for s in animals]

['CAT', 'DOG', 'GOAT', 'BIRD']

In [181]:
goatstr = 'goat'
goatlist = list(goatstr)
goatlist

['g', 'o', 'a', 't']

In [182]:
wittgenstein = 'Die Welt ist alles was der Fall ist.'
t = wittgenstein.split(' ')
t

['Die', 'Welt', 'ist', 'alles', 'was', 'der', 'Fall', 'ist.']

In [183]:
delim = ' '
delim.join(t)

'Die Welt ist alles was der Fall ist.'

In [185]:
fibonacci = [0,1,1,2,3,5,8,13,21]
[x for x in fibonacci if x % 2 ==1]

[1, 1, 3, 5, 13, 21]

In [191]:
animals = ['cat', 'dog', 'goat', 'bird']
[x.upper() for x in animals if 'o' in x[1]]

['DOG', 'GOAT']

In [190]:
[x for x in animals if len(x)==5]

[]

In [192]:
a = 'unicorn'
b = 'unicorn'

In [193]:
a == b

True

In [194]:
a is b

True

In [195]:
a = [1,2,3]
b = [1,2,3]
a == b

True

In [196]:
a is b

False

In [197]:
a = [1,2,3]
b = a
a is b

True

In [201]:
a = [1,2,3]
b = a
b[-1] = 42
b

[1, 2, 42]

In [203]:
a[-1]

42

In [207]:
def make_end_42(t):
    # Change the last element of 
    # list t to be 42.
    t[-1] = 42
    
a = [1,2,3]
make_end_42(a)
a

[1, 2, 42]

In [209]:
def wrong_make_end_42(t):
    # Change the last element of 
    # list t to be 42, incorrectly.
    t = t[:-1] # delete the last element.
    t.append(42)
    
a = [1,2,3]
wrong_make_end_42(a)
a

[1, 2, 3]