### Lecture 14: SQL
The Python sqlite3 package runs SQLite3, a light-weight SQL server.

In [2]:
import os
if os.path.exists('example.db'):
    os.remove('example.db') # Delete this file, if it exists, to prevent weird behavior below.

In [4]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor() # create a cursor object.
c.execute('''CREATE TABLE t_student (id, name, field, birth_year)''')
students = [(101010, 'Claude Shannon', 'Electrical Engineering', 1916),
            (500100, 'Eugene Wigner', 'Physics', 1902),
            (314159, 'Albert Einstein', 'Physics', 1879),
            (214518, 'Ronald Fisher', 'Statistics', 1890),
            (662607, 'Max Planck', 'Physics', 1858),
            (271828, 'Leonard Euler', 'Mathematics', 1707),
            (999999, 'Jerzy Neyman', 'Statistics', 1894),
            (112358, 'Ky Fan', 'Mathematics', 1914)]
c.executemany('INSERT INTO t_student VALUES (?,?,?,?)', students)
conn.commit() # Write the changes back to example.db
for row in c.execute('''SELECT * from t_student'''):
    print(row)

(101010, 'Claude Shannon', 'Electrical Engineering', 1916)
(500100, 'Eugene Wigner', 'Physics', 1902)
(314159, 'Albert Einstein', 'Physics', 1879)
(214518, 'Ronald Fisher', 'Statistics', 1890)
(662607, 'Max Planck', 'Physics', 1858)
(271828, 'Leonard Euler', 'Mathematics', 1707)
(999999, 'Jerzy Neyman', 'Statistics', 1894)
(112358, 'Ky Fan', 'Mathematics', 1914)

In [5]:
c.execute('''SELECT * from t_student''')

In [6]:
allrows = list(c.execute('''SELECT * from t_student'''))
allrows

[(101010, 'Claude Shannon', 'Electrical Engineering', 1916),
 (500100, 'Eugene Wigner', 'Physics', 1902),
 (314159, 'Albert Einstein', 'Physics', 1879),
 (214518, 'Ronald Fisher', 'Statistics', 1890),
 (662607, 'Max Planck', 'Physics', 1858),
 (271828, 'Leonard Euler', 'Mathematics', 1707),
 (999999, 'Jerzy Neyman', 'Statistics', 1894),
 (112358, 'Ky Fan', 'Mathematics', 1914)]

In [8]:
import os
if os.path.exists('example.db'):
    os.remove('example.db') # Delete this file, if it exists, to prevent weird behavior below.

In [10]:
conn = sqlite3.connect('example.db')
c = conn.cursor()
c.execute('''CREATE TABLE t_student (id, name, field, birth_year)''')
c.execute('''CREATE TABLE t_thesis (thesis_id, phd_title phd_year)''')
for r in c.execute('''SELECT * FROM sqlite_master'''):
    print(r)

('table', 't_student', 't_student', 2, 'CREATE TABLE t_student (id, name, field, birth_year)')
('table', 't_thesis', 't_thesis', 3, 'CREATE TABLE t_thesis (thesis_id, phd_title phd_year)')

In [13]:
print(c.description)

tables = c.execute('''SELECT tbl_name FROM sqlite_master''')
for name in tables:
    print(name[0])

(('type', None, None, None, None, None, None), ('name', None, None, None, None, None, None), ('tbl_name', None, None, None, None, None, None), ('rootpage', None, None, None, None, None, None), ('sql', None, None, None, None, None, None))
t_student
t_thesis